<%= link_to 'Index', root_path %>

<h1>Stock performance over past 4 Weeks</h1>
<p>Price at beginning: $<%= @charts[0]['close'] %></p>
<p>Price at end: $<%= @charts[-1]['close'] %></p>
<% data = {} %>
<% @charts.map do |item| %>
  <% data[item['date']] = item['changePercent'] %>
  <% end %>
  <p>Percentage Change in stock price per day</p>
<%= line_chart  data, colors: ["green"]  %>

<% finData = {} %>
<%@financials['financials'].reverse.map do |item| %>
<% finData[item['reportDate']] = item['grossProfit'] %>
<% end %>
<p>Gross Profit ($) per quarter since <%= @financials['financials'][-1]['reportDate'] %></p>
<%= column_chart finData, colors: ["purple"] %>
