
<h1><%=@financials['symbol']%> Stock performance over past 4 Weeks</h1>
<p>Price at beginning: $<%= @charts[0]['close'] %></p>
<p>Price at end: $<%= @charts[-1]['close'] %></p>
<% data = {} %>
<% @charts.map do |item| %>
  <% data[item['date']] = item['changePercent'] %>
  <% end %>
  <p>Percentage Change in stock price per day since <%= @charts[0]['date'] %></p>
<%= line_chart  data, colors: ["green"]  %>

<% finData = {} %>
<% costData = {} %>
<% rAndD = {} %>
<%@financials['financials'].reverse.map do |item| %>
<% finData[item['reportDate']] = item['grossProfit'] %>
<% costData[item['reportDate']] = item['costOfRevenue'] %>
<% rAndD[item['reportDate']] = item['researchAndDevelopment'] %>
<% end %>
<h1><%=@financials['symbol']%> financial reports per quarter since <%= @financials['financials'][-1]['reportDate'] %></h1>
<%= column_chart [{name: "profit $", data: finData}, {name: "revenue cost $", data: costData}, {name: "r & d $", data: rAndD}], colors: ["purple", "yellow", "red"]%>
