<h1>Stocks#index</h1>
<p>Find me in app/views/stocks/index.html.erb</p>

<h2><%= @result['symbol'] %></h2>
<p>Company Name: <%= @result['companyName'] %></p>
<p>Industry: <%= @result['industry'] %></p>
<p>Description<%= @result['description'] %></p>


<table border="1px">
  <tr>
    <th>Date</th>
    <th>Headline</th>
    <th>Summary</th>
    <th>Source</th>


  </tr>
<% @news.each do |article| %>
  <tr>
    <td><%= article['datetime'] %></td>
    <td><%= article['headline'] %></td>
    <td><%= article['summary'] %></td>
    <td><a href="<%= article['url']%>" target="_blank"><%= article['source'] %></a></td>
  </tr>
<% end %>

</table>
