
<div class="jumbotron center">

</div>

<h2 id="name"><%= @result['symbol'] %></h2>
<%= link_to image_tag('alphabet.jpg'), @result['website'] %>

<p><span class="label-title">Company Name:</span> <%= @result['companyName'] %></p>

<p><span class="label-title">Industry:</span> <%= @result['industry'] %></p>
<p><span class="label-title">Description:</span> <%= @result['description'] %></p>
<p><span class="label-title">Website:</span> <a href="<%= @result['website'] %>" target="_blank"><%= @result['website'] %></p></a>
<hr />
<h1>Top related news stories</h1>
<table border="1px">
  <tr>
    <th>Date</th>
    <th>Headline</th>
    <th>Summary</th>
    <th>Article</th>


  </tr>
<% @news.each do |article| %>
  <tr>
    <td class="date">Day: <%= article['datetime'].split("T")[0]%> Time: <%=article['datetime'].split("T")[1].first(5) %></td>
    <td class="headline"><a href="<%= article['url']%>" target="_blank"><%= article['headline'] %></a></td>
    <td><%= article['summary'] %></td>
    <td><a href="<%= article['url']%>" target="_blank"><%= article['source'] %></a></td>
  </tr>
<% end %>

</table>
